{"points":{"Belgische Competitie_KV_Oostende_KV_Mechelen":0,"Belgische Competitie_AA_Gent_Standard_Luik":0,"Belgische Competitie_Racing_Genk_Antwerp":0,"Belgische Competitie_Anderlecht_Club_Brugge":0},"bonus":[]}